
/* backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ], */
.container {
    margin: auto;
    /* margin-bottom: 100px; */
    width: 60%;
    border: 2px solid rgba(54, 162, 235, 0.2);
}

.add-btn {
    border-radius: 5px;
    border: 1px solid rgba(54, 162, 235, 1);
    background-color: rgba(54, 162, 235, 0.2);
    margin: 10px;
    /* padding: 5px; */
    width: 80px;
    text-align: center;
    font-size: 16px;

}

.delete-btn {
    border-radius: 5px;
    border: 1px solid rgba(54, 162, 235, 0.2);
    background-color: rgba(255, 99, 132, 0.2);
    /* rgba(255, 99, 132, 0.2) */
    /* rgba(54, 162, 235, 0.2) */
    /* color:white; */
    margin: 10px;
    padding: 5px;
    /* width: auto; */
}

input {
    padding: 10px;
    font-size: 16px;
}

/* .search {
    display: inline;
} */

.form-inline {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
   
    /* flex-flow: row wrap; */
    /* align-items: stretch; */
    /* width:60%; */
}
.search {
    margin: 10px;
}

